{% extends "Characters/includes/base.html" %}
{% load static %}
{% block title %}
    All Characters
{% endblock %}
{% block style %}
<link href="{% static 'styles/index.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div id="cuerpo">
    {% if from_character_list %}
        <h1 style="margin-top: 1%;">ALL CHARACTERS</h1>
    {% else %}
        {% if from_universe_detail %}
            <h1 style="margin-top: 1%;">Todos los personajes de {{ query }}:</h1>
        {% else %}
            <h2 style="margin-top: 1%;">RESULTADOS DE LA BÚSQUEDA: {{ query }}</h2>
        {% endif %}
    {% endif %}
    
    <div id="separator"></div>
    <div id="all-characters">
        {% for character in Characters %}
        <div class="card" style="width: 25rem">

            <div class="card-body">
                <div class="card-image">
                <a href="{% url 'characters:character_detail' character.slug %}">
                    <img
                        src="{{ character.image.url }}"
                        style="height: 300px; object-fit: contain"
                        class="card-img-top"
                        alt="character"
                    /></a>
                </div>
            <p class="card-text">
                {{ character.universe }} / <strong>{{ character.name }}</strong>
            </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}