<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
      h1 {
        margin-left: 2%;
        color: rgb(2, 72, 163);
      }
      h2 {
        margin-left: 3%;
      }
    </style>
  </head>
  <body>
    <h1>YOUR PASSWORD IS:</h1>
    <h2>{{ password }}</h2>
    <a href="{% url 'home' %}">Go Back</a>
  </body>
</html>
