{% extends "Characters/includes/base.html" %}
{% load static %}
{% block title %}
    Delete
{% endblock %}
{% block style %}
<link href="{% static 'styles/edit.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="cuerpo">
  <form method="post">
    {% csrf_token %}
    <p>¿Seguro que quieres eliminar "{{ object }}"?</p>
    <button type="submit">Sí, eliminar</button>
    
    <a style="color: red;" href="{% url 'characters:select_edit' %}">Cancelar</a>
</form>
</div>
{% endblock %}



