{% extends "Characters/includes/base.html" %}
{% load static %}
{% block title %}
    Select one to update
{% endblock %}
{% block style %}
<link href="{% static 'styles/index.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div id="cuerpo">
    <h2 style="margin-top: 1%;">Cual quieres <strong>Borrar</strong>?</h2>
    <div id="separator"></div>
    <div id="all-characters">
        <div class="container-fluid">
            <div class="row g-4">
                {% for object in Objects %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card" style="width: 100%">
                        <div class="card-body">
                            <div class="card-image">
                            <a href="{% url 'characters:SelectdDelete' object.slug %}">
                                <img
                                    src="{{ object.image.url }}"
                                    style="height: 300px; object-fit: contain"
                                    class="card-img-top"
                                    alt="character"
                                /></a>
                            </div>
                        <p class="card-text">
                            {{ object.name }}
                        </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}