{% extends "Characters/includes/base.html" %}
{% load static %}
{% load slugify_filters %}
{% block title %}
    Character Detail
{% endblock %}
{% block style %}
  <link href="{% static 'styles/detail.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div id="cuerpo">
  <div id="Detail">
    {% if character.alternateImage %}
        <div id="images">
            <img height="500px" src="{{ character.image.url }}">
            <img height="400px" src="{{ character.alternateImage.url }}">
        </div>
    {% else %}
        <img height="500px" src="{{ character.image.url }}">
    {% endif %}
    <div id="opcionesPersonaje">
      <h3><strong>{{ character.name }}</strong></h3>
      <a href="{% url 'characters:SelectedUpdate' character.slug %}"><button>Update</button></a>
      <a href="{% url 'characters:SelectdDelete' character.slug %}"><button>Delete</button></a>
    </div>
    {% if character.slug in request.session.favoritos %}
      <p>This is a favorite! ⭐</p>

      <form action="{% url 'characters:agregar_favorito' character.slug %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="character_slug" value="{{ character.slug }}">
        <button>Quitar de favoritos</button>
      </form>

      {% else %}
      <form action="{% url 'characters:agregar_favorito' character.slug %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="character_slug" value="{{ character.slug }}">
        <button>Favorite</button>
      </form>
    {% endif %}

    <div id="separator"></div>
    <p>{{ character.description }}</p>
    <div id="separator"></div>
    <h3><a id="universeLink" href="{% url 'characters:universe_detail' character.universe|slugify %}">{{ character.universe }}</a></h3>
  </div>
</div>
{% endblock %}