{% extends "Characters/includes/base.html" %}
{% load static %}
{% block title %}
    All Characters
{% endblock %}
{% block style %}
<link href="{% static 'styles/index.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div id="cuerpo">
    {% if from_character_list %}
    <div id="todosPersonajesYFavoritos">
        <h1 style="margin-top: 1%;">ALL CHARACTERS</h1>
        <span> /// </span>
        <a href="{% url 'characters:favoritos' %}">
            <button>✯View My Favorites✯</button>
        </a>
    </div>
        

    {% else %}
        {% if from_universe_detail %}
            <h1 style="margin-top: 1%;">Every character of {{ query }}</h1>
        {% else %}
            <h2 style="margin-top: 1%;">Results of {{ query }}</h2>
        {% endif %}
    {% endif %}
    
    <div id="separator"></div>
    <div id="all-characters">
        <div class="container-fluid">
            <div class="row g-4">
                {% for universe in Universes %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card" style="width: 100%">
                        <div class="card-body">
                            <div class="card-image">
                            <a href="{% url 'characters:universe_detail' universe.slug %}">
                                <img
                                    src="{{ universe.image.url }}"
                                    class="card-img-top"
                                    alt="character"
                                    style="height: 300px; object-fit: contain; width: 100%;" />
                            </a>
                            </div>
                            <p class="card-text">
                                {{ universe.name }} 
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for character in Characters %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card" style="width: 100%">
                        <div class="card-body">
                            <div class="card-image">
                            <a href="{% url 'characters:character_detail' character.slug %}">
                                <img
                                    src="{{ character.image.url }}"
                                    class="card-img-top"
                                    alt="character"
                                    style="height: 300px; object-fit: contain; width: 100%;" />
                            </a>
                            </div>
                            <p class="card-text">
                                {{ character.universe }} / <strong>{{ character.name }}</strong>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}