html {
  background-color: beige;
  font-family: Dosis;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  height: 100%;
}
h1 {
  text-shadow: 0 0 5px #ffffff, 0 0 7px #ffffff;
}
#Header1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: url(img/Bosque.jpg) no-repeat;
  height: 264px;
  width: 1920px;
}
#Header2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  align-items: center;

  height: 264px;
  width: 1670px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
p {
  margin: 0px;
}
img {
  background-color: white;
  border-radius: 100%;
}
section {
  width: 100%;
  margin-top: 30px;
  background-color: rgb(126, 212, 126);
}
footer {
  width: 1920px;
  height: 52px;
  background-color: rgb(126, 212, 126);
}
form {
  justify-content: center;
  text-align: center;
}
#Login {
  transition: background-color 0.3s;
  background-color: black;
  color: #ffffff;
  border-radius: 30%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}
#Login:hover {
  background-color: rgb(250, 187, 70);
  color: #000000;
}
#Buttom {
  background-color: rgb(126, 212, 126);
  padding: 10px;
  border-radius: 10%;
}
h2 {
  text-align: center;
}
.error {
  text-align: center;
  color: red;
  text-shadow: 0 0 5px #ffffff, 0 0 7px #000000;
}
