{% extends "Home/base.html" %} {% load static %} {% block content %}

<!-- <h1 class="text-center mt-5" id="blogdetailtitle">{{ blog.title }}</h1>

<h5 class="text-center text-muted mb-5">{{ blog.date|date:'F jS Y' }}</h5>

<div id="div">{{ blog.description|safe }}</div> -->
<h1 class="text-center mt-5" id="blogdetailtitle" style="margin-bottom: 5%">
  <u><strong>{{ character.universe }}</strong></u>
</h1>
<div style="display: flex; flex-direction: row; justify-content: space-around">
  <img src="{{ character.image.url }}" height="400px" />
  {% if character.alternateImage %}
  <img src="{{ character.alternateImage.url }}" height="400px" />
  {% else %} {% endif %}
</div>
<h3 class="mt-5" id="blogdetailtitle">{{ character.name }}</h3>
<hr />
<p class="mt-5" id="blogdetailtitle">{{ character.description }}</p>
{% endblock %}
