{% extends "Home/base.html" %} {% load static %} {% block content %}
<div class="container">
  <div id="Robotin" class="row">
    <div class="col-lg-4 col-md-6">
      <img
        src="{% static 'Home/BetterRobotin2.png' %}"
        height="560px"
        width="650px"
      />
    </div>
  </div>

  <p class="mt-5">RANDOM CHARACTERS:</p>
  <hr />
  <div class="card" style="width: 18rem">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>

  {% endblock %}
</div>
