{% extends "Home/base.html" %} {% load static %} {% block content %}
<div class="container">
  <div id="Robotin" class="row">
    <div class="col-lg-4 col-md-6">
      <img
        src="{% static 'Home/BetterRobotin2.png' %}"
        height="560px"
        width="650px"
      />
    </div>
  </div>

  <p class="mt-5">RANDOM CHARACTERS:</p>
  <hr />
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <img src="" class="img-fluid mb-2" />
      <h3></h3>
      <p></p>
    </div>
  </div>

  {% endblock %}
</div>
