{% extends "blog/base.html" %}
{% load static %}
{% block title %} {{ post.title }} {% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <h2>{{ post.excerpt }}</h2>
    {% if post.image.url != ""%}
    <img class="moogle-box" src="{{ post.image.url }}" alt="{{ post.title }}" height="300px">
    {% endif %}
    <div class="lista">
        <p class="content"> {{ post.content }} </p>
    </div>
    <p><a href="mailto:{{ post.Author.email_address }}">{{ post.Author.first_name }} {{ post.Author.last_name }}</a></p>
    <div class="lista">    
        <ul>    
        <!-- {% for tag in tags %}
            <li>{{ tag.caption }}</li>
        {% endfor %} -->
        {% for tag in post.tag.all %}
        <li>{{ tag.caption }}</li>
        {% endfor %}
        </ul>
    </div>
    <div id="read-later">
        <form action="{% url 'blog:read-later'%}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ post.id }}"  name="post_id"></input>
            <button>Read later</button>
        </form>
    </div>

    
    <section id="comments">
    <section id="comment-form">
        <h2>Your comment :</h2>
        <form action="{% url 'blog:detail' post.slug %}" method="post">
            {% csrf_token %}
            {% for field in comment_form %}
                <div class="form-control {% if field.errors %}errors{% endif %}">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button>Save comment</button>
        </form>
    </section>
    <h2>Comments :</h2>
    <div class="lista">    
        <ul>
        {% for comment in comments %}
            <li><strong>{{ comment.user_name }}</strong> : {{ comment.text }}</li>
        {% endfor %}
        </ul></div>

</section>
{% endblock%}
